[submodule "picotool_scumm8"]
	path = picotool_scumm8
	url = https://github.com/Liquidream/picotool-scumm-8.git
[submodule "picotool"]
	path = picotool
	url = https://github.com/dansanderson/picotool
